


#st-main {
 overflow:visible;
 zoom:1;
 margin-top:20px;
 margin-bottom:20px;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}
#st-main .left {
 float:left;
 width:260px;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}
#st-main .left .special {
 border-radius:4px;
 overflow:hidden
}
#st-main .left .special img {
 vertical-align:bottom;
 width:100%
}
#st-main .left .gbox,#st-main .left.gbox {
 border-radius:4px
}
#st-main .left .gbox-header {
 background-color:#F1664B;
 border-top-left-radius:4px;
 border-top-right-radius:4px
}
#st-main .left .left-nav .gbox-con {
 padding:0;
 margin:0
}
#st-main .left h2 {
 color:#fff
}
#st-main .left .jiemi {
 border-top:1px solid #E4E4E4;
 padding-top:10px
}
#st-main .right {
 float:right;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
 border-radius:4px;
 width:714px
}
#st-main .right .gbox {
 border-radius:4px
}
#st-main .right .gbox-header {
 border-top-left-radius:4px;
 border-top-right-radius:4px
}
#st-main .right h2 {
 font-size:16px;
 color:#25252;
 letter-spacing:1px
}
#st-main .right .gbox-con {
 padding:16px
}
@media (min-width:1200px) {
 #st-main .right {
  width:884px
 }
}
.catelist {
 background-color:#fff;
 overflow:auto;
 zoom:1
}
.catelist li {
 position:relative;
 line-height:42px;
 border-bottom:1px solid #F1F0F0;
 float:left;
 display:block;
 clear:both;
 width:100%
}
.catelist li.li-last {
 border:none
}
.catelist li a {
 height:100%;
 clear:both;
 padding-left:32px;
 position:relative;
 text-align:left;
 color:#555;
 letter-spacing:1px;
 vertical-align:top;
 font-size:16px;
 font-weight:700;
 display:block
}
.catelist li a:hover,.catelist li ul li.on a {
 background-color:#FFFAED;
 color:#FF4E00;
 text-decoration:none
}
.catelist li small,.catelist li ul li i {
 display:none;
 height:42px;
 width:36px;
 position:absolute;
 right:6px;
 top:0;
 background-image:url(../images/arrow_2.png);
 background-repeat:no-repeat;
 background-position:50%
}
.catelist li ul li.on i,.catelist li.on small {
 display:block
}
#side-catelist li.on>a {
 background-color:#ffe7da;
 color:#FF4E00
}
#side-catelist li {
 position:relative;
 overflow:hidden
}
#side-catelist li.on span.arrow {
 background-position:50% -33px
}
#side-catelist li div {
 display:none
}
#side-catelist li ul li a {
 padding-left:42px;
 font-weight:400
}
#side-catelist li.on ul {
 background-color:#FFFBF9
}
#side-catelist li.on ul li.on a {
 background-color:#FEF5DA
}
#side-catelist li .adrop {
 background-repeat:no-repeat;
 background-position:230px 12px;
 background-image:url(../images/icon/arrow_down.png)
}
#side-catelist li.on .adrop {
 background-image:url(../images/icon/arrow_up.png)
}
.left-related ul.left-newslist {
 padding:0 10px
}
.left-related ul.left-newslist li {
 line-height:24px
}
.left-related ul.left-newslist li a {
 color:#505050
}
.left-related ul.left-newslist li a:hover {
 color:#CE0C0D;
 text-decoration:underline
}
#st-main .left .left-contact .gbox-header {
 background:#fff url(../images/ct.png);
 height:70px
}
#st-main .left .left-contact p {
 padding:8px 16px;
 line-height:26px
}

.st-innerpage .plist-lr li {
 border-bottom:1px dashed #E4E4E4;
 padding-top:0;
 padding-bottom:20px;
 margin-top:0;
 margin-bottom:20px
}
.st-innerpage .plist-lr li .p-1 a {
 display:block;
 width:200px;
 height:160px;
 overflow:hidden
}
.st-innerpage .plist-lr li .p-1 a img,.st-innerpage .plist-lr li .p-1 img {
 border:none;
 padding:0;
 width:200px;
 min-height:150px
}
.st-innerpage .plist-lr li .p-1 .vflag {
 right:10px;
 bottom:2px;
 border-bottom-right-radius:4px
}
.st-innerpage .plist-lr li .news-intro {
 color:#767676;
 font-size:12px
}
.st-innerpage .plist-block-list li {
 width:33%!important;
 padding-bottom:20px
}
.st-innerpage .plist-block-list li .p-1 {
 width:88%
}
.st-innerpage .ipro-list li {
 width:24.9%!important
}
.st-innerpage .ipro-list li .p-1 a img {
 width:90%
}
.st-innerpage .ipro-list li .p-1 a:hover img {
 border-color:#f3692d
}
.st-innerpage .zj-list {
 padding-bottom:0
}
.st-innerpage .zj-list li {
 width:25%!important
}
.st-innerpage .zj-list li .pdiv {
 margin:0 auto;
 padding-top:10px;
 padding-bottom:10px;
 background-color:#FAFAFA;
 width:85%;
 border:1px solid #f0f0f0
}
.st-innerpage .zj-list li .pdiv:hover {
 background-color:#f0f0f0
}
.st-innerpage .zj-list li .p-1 {
 padding:0;
 width:85%;
 padding-bottom:10px
}
.st-innerpage .zj-list li .p-1 a img {
 width:100%;
 border-color:#646464
}
.st-innerpage .zj-list li .p-1 a:hover img {
 border-color:#f3692d
}
.st-innerpage .zj-list li .p-2 {
 width:85%;
 padding:0
}
.st-innerpage .zj-list li .p-2 h3 {
 color:#A5360F;
 text-align:center;
 font-size:18px;
 line-height:26px
}
.st-innerpage .zj-list li .p-2 h3 a {
 color:#A5360F
}
.st-innerpage .zj-list li .p-2 p {
 font-size:14px;
 color:#969696;
 text-align:left;
 line-height:24px;
 height:125px
}
.st-innerpage .zj-list li .p-3 {
 padding-top:10px
}
.st-innerpage .zj-list li .p-3 a {
 display:inline-block;
 padding:8px 12px;
 font-size:12px
}
.st-innerpage .zj-list li .p-3 a:hover {
 background-color:#FB801D;
 color:#fff
}
.st-innerpage .zj-list li .p-3 .p-a-1 {
 background-color:#CA8954;
 color:#fff
}
.st-innerpage .zj-list li .p-3 .p-a-2 {
 background-color:#CE0C0D;
 color:#fff
}
.procontent,.proinfo {
 padding:10px
}
.proinfo {
 overflow:auto
}
.proinfo .pro-img {
 float:left;
 width:330px
}
.proinfo .pro-img #piclist {
 text-align:left;
 margin:0 auto
}
.proinfo .pro-img #piclist li img {
 width:96%;
 border:1px solid #000
}
.proinfo .pro-img #thumblist {
 margin-top:10px
}
.proinfo .pro-img #thumblist li {
 float:left;
 display:inline-block;
 width:64px;
 height:64px;
 vertical-align:middle;
 text-align:center;
 margin-right:2px
}
.proinfo .pro-img #thumblist li a {
 display:block;
 border:2px solid #fff;
 padding:1px
}
.proinfo .pro-img #thumblist li a img {
 width:58px;
 height:58px
}
.proinfo .pro-img #thumblist li a:hover,.proinfo .pro-img #thumblist li.on a {
 border-color:#FF556D
}
.proinfo .pro-intro {
 margin-left:340px;
 text-align:left
}
.proinfo .pro-intro h1 {
 color:red;
 font-size:25px;
 text-align:left;
 margin-bottom:6px
}
.proinfo .pro-intro dl dd,.proinfo .pro-intro dl dt {
 font-size:18px;
 padding:8px
}
.proinfo .pro-intro dl dt {
 border-bottom:1px solid #ccc
}
.proinfo .pro-intro dl dd {
 line-height:38px;
 color:#434343
}
.proinfo .pro-intro .prenext {
 text-align:center;
 padding-top:10px;
 padding-left:30px;
 padding-right:30px;
 box-sizing:border-box
}
.proinfo .pro-intro .prenext p {
 float:left;
 width:40%;
 text-align:center
}
.proinfo .pro-intro .prenext p.pnext {
 float:right
}
.proinfo .pro-intro .prenext a {
 display:inline-block;
 background-color:#C3AE9F;
 width:90%;
 line-height:36px;
 color:#fff
}
.proinfo .pro-intro .prenext a:hover {
 background-color:#FDA96B;
 text-decoration:none
}
.procontent {
 text-align:center;
 overflow:hidden
}
.procontent img {
 max-width:650px;
 margin:0 auto
}
.procontent .img-item {
 text-align:center;
 padding-bottom:10px
}
.procontent .prenext {
 text-align:left;
 font-size:16px;
 line-height:22px
}
@media (min-width:1200px) {
 .proinfo .pro-img {
  width:430px
 }
 .proinfo .pro-intro {
  margin-left:440px
 }
 .procontent img {
  width:620px;
  height: 400px;
 }
}
#st-main.page-video {
 padding:0;
 margin:0
}
#st-main.page-video .v-hd {
 background-color:#343434
}
#st-main.page-video .v-hd h1 {
 background:url(../images/i_movie.png) no-repeat 0 50%;
 height:48px;
 text-align:left;
 color:#F8F8F8;
 vertical-align:middle;
 line-height:48px;
 padding-left:46px;
 font-size:18px;
 font-weight:400
}
#st-main.page-video .page-content {
 padding:10px
}
.v-lay {
 background-color:#292929;
 margin-bottom:16px
}
.video {
 overflow:hidden;
 zoom:1;
 height:430px
}
.video .vd-left {
 float:left;
 width:729px
}
.video .vd-left iframe {
 width:100%;
 height:430px
}
.video .vd-right {
 height:430px;
 width:260px;
 float:right;
 background-color:#2F2F2F
}
.video .vd-right ul {
 height:430px;
 overflow:hidden
}
.video .vd-right ul li {
 line-height:28px;
 vertical-align:middle;
 border-bottom:1px solid #252525
}
.video .vd-right ul li.li-vhd {
 padding-left:12px;
 background-color:#000;
 color:#fff;
 height:42px;
 line-height:42px
}
.video .vd-right ul li a {
 color:#CECECE;
 display:block;
 padding:6px 20px
}
.video .vd-right ul li a:hover {
 color:#CECECE;
 background-color:#3D3D3D
}
.video .vd-right .vdr-w {
 padding:20px;
 color:#DDD
}
.video .vd-right .d-1 {
 text-align:center;
 margin-bottom:10px
}
.video .vd-right .d-1 p {
 line-height:26px
}
.video .vd-right .d-2 {
 text-align:center
}
.video .vd-right .d-2 p {
 margin-bottom:16px
}
.video .vd-right .d-2 .btn-zx {
 display:inline-block;
 padding:0 32px;
 background-color:#FD6614;
 border-radius:4px;
 line-height:28px;
 color:#fff
}
.video .vd-right .d-2 .btn-zx:hover {
 background-color:#EBB72A
}
.video .vd-right .d-2 .vdr-des {
 text-align:left;
 padding:10px;
 background-color:#292929;
 line-height:24px;
 border-top:2px solid #000
}
.vd-bottom {
 clear:both;
 line-height:52px;
 padding:0 10px;
 background-color:#000;
 color:#A4A4A4
}
.vd-bottom i,.vd-bottom small,.vd-bottom span {
 margin-right:6px
}
.vd-bottom span {
 display:inline-block;
 background:url(../images/i_play.png) no-repeat 0 50%;
 padding-left:26px
}
.vd-bottom i {
 background-color:#2d2d2d;
 border-radius:4px;
 padding:4px 8px;
 font-style:normal
}
.vd-bottom small {
 font-size:14px
}
.vd-bottom label {
 color:#ffc000
}
@media (min-width:1200px) {
 .video .vd-left {
  width:899px
 }
 .video .vd-right {
  width:260px
 }
}
.gbox .v-hdtemp {
 background-color:#f8f8f8
}
.gbox .v-hdtemp h2 {
 float:left;
 padding:0 24px;
 background-color:#ffc000;
 color:#fff;
 border-left:4px solid #444
}
.gbox .v-hdtemp-2 h2 {
 background-color:#598c89
}
.st-innerpage .video-list-inner li {
 width:19.9%!important
}
.st-innerpage .video-list-inner li .p-1 {
 padding:0;
 margin:0 auto;
 width:96%
}
.st-innerpage .video-list-inner li .p-1 a {
 width:100%
}
.st-innerpage .video-list-inner li .p-1 a img {
 width:100%;
 border:none
}
.st-innerpage .video-list-inner li .p-2 {
 padding:0;
 width:96%
}
.st-innerpage .video-list-inner li .p-2 p {
 line-height:24px;
 font-size:14px;
 text-align:left;
 padding:8px;
 background-color:#f8f8f8;
 color:#383838
}
.gtemp {
 margin-bottom:20px
}
.gtemp .gbox-header {
 height:60px;
 line-height:58px;
 vertical-align:middle
}
.gtemp .gbox-header h1,.gtemp .gbox-header h2 {
 font-size:22px;
 float:none;
 text-align:center;
 letter-spacing:1.5px;
 line-height:58px;
 vertical-align:middle
}
.gtemp .gbox-con {
 padding:0
}
.gtemp .gbox-con .page-content {
 padding:40px 20px;
 overflow:auto;
 zoom:1
}
.gtemp .colorfull-hd {
 border:1px solid #fda83b
}
.gtemp .colorfull-hd i,.gtemp .colorfull-hd small,.gtemp .colorfull-hd span {
 display:inline-block
}
.gtemp .colorfull-hd span {
 float:left;
 width:80px;
 height:100%;
 text-align:center;
 color:#fff;
 font-size:32px;
 margin-right:16px;
 background-color:#fda83b
}
.gtemp .colorfull-hd small {
 float:right;
 margin-right:16px;
 color:#a4a4a4
}
.gtemp .colorfull-hd h1,.gtemp .colorfull-hd h2 {
 padding:0;
 margin:0;
 float:left;
 font-size:22px;
 text-align:left;
 color:#373737
}
.gtemp .colorfull-hd h1 i,.gtemp .colorfull-hd h2 i {
 color:#a4a4a4;
 font-style:normal;
 font-size:12px;
 line-height:16px;
 margin-left:6px
}
.gtemp .colorfull-hd.hd-yellow {
 border-color:#fda83b
}
.gtemp .colorfull-hd.hd-yellow span {
 background-color:#fda83b
}
.gtemp .colorfull-hd.hd-blue {
 border-color:#3ba8fd
}
.gtemp .colorfull-hd.hd-blue span {
 background-color:#3ba8fd
}
.gtemp .colorfull-hd.hd-red {
 border-color:#ff4310
}
.gtemp .colorfull-hd.hd-red span {
 background-color:#ff4310
}
.gtemp .colorfull-hd.hd-green {
 border-color:#68d023
}
.gtemp .colorfull-hd.hd-green span {
 background-color:#68d023
}
.company .pic {
 float:left;
 margin-right:16px;
 margin-left:16px
}
.company .intro {
 text-align:left;
 line-height:28px;
 padding-top:10px;
 padding-bottom:10px;
 font-size:16px
}
.jdzj .jdzj-intro {
 text-align:center;
 line-height:36px
}
.jdzj .jdzj-intro .zjpic {
 padding:20px 0 10px 0
}
.jdzj .jdzj-intro .zjpic p strong {
 font-size:22px
}
.hz .hz-dl {
 margin-bottom:20px;
 padding-bottom:20px;
 border-bottom:1px dashed #dedede
}
.hz .hz-dl dt {
 text-align:center;
 font-size:22px;
 color:#196085;
 padding:16px 0
}
.hz .hz-dl dd {
 overflow:auto;
 zoom:1
}
.hz .hz-dl dd p {
 float:left;
 width:250px;
 text-align:center
}
.hz .hz-dl dd div {
 margin-left:250px;
 margin-top:16px;
 font-size:20px;
 line-height:36px
}
.huodong .huodong-list li {
 width:49%!important
}
.huodong .huodong-list li .p-0 {
 text-align:center;
 margin:0 auto;
 padding:8px 0;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 width:80%
}
.huodong .huodong-list li .p-0 a {
 color:#000;
 font-size:18px
}
.huodong .huodong-list li .p-1 {
 width:auto!important
}
.huodong .huodong-list li .p-1 a img,.huodong .huodong-list li .p-1 img {
 border:none;
 width:360px;
 height:237px
}
.huodong .huodong-list li .p-2 {
 width:80%
}
.huodong .huodong-list li .p-2 p {
 text-indent:27px;
 text-align:left;
 padding-top:10px;
 line-height:20px;
 font-size:16px
}
@media (min-width:1200px) {
 .huodong .huodong-list li .p-1 a img,.huodong .huodong-list li .p-1 img {
  border:none;
  width:440px;
  height:290px
 }
}
.contact .ct-phone {
 padding-left:50px;
 padding-right:50px;
 margin-top:30px;
 margin-bottom:30px;
 padding-bottom:30px;
 border-bottom:1px solid #dedede;
 overflow:auto;
 zoom:1
}
.contact .ct-phone .hotline,.contact .ct-phone .num,.contact .ct-phone i {
 float:left
}
.contact .ct-phone i {
 background:url(../images/hn_iocn_contact.png);
 width:48px;
 height:48px;
 background-position:left 0;
 display:inline-block;
 margin-right:20px;
 float:left
}
.contact .ct-phone .hotline {
 line-height:26px;
 margin-right:20px;
 padding-right:60px;
 margin-right:60px;
 border-right:1px solid #dedede
}
.contact .ct-phone .num {
 color:#414141;
 font-weight:700;
 font-size:24px;
 padding-top:2px;
 text-align:center
}
.contact .ct-phone .num strong {
 color:#0725BC;
 font-size:24px
}
.contact .ct-phone .zx {
 float:right;
 text-align:center
}
.contact .ct-phone .zx a {
 display:inline-block;
 padding:4px 20px;
 background-color:#7FBEE5;
 color:#fff;
 border:1px solid #6eb5e2;
 border-radius:4px
}
.contact .ct-phone .zx a:hover {
 background-color:#5dadde
}
.contact .ct-text {
 line-height:52px;
 padding-bottom:20px;
 padding-left:20px;
 padding-right:20px
}
.contact .map img {
 width:100%
}
.liuyan {
 padding-bottom:20px
}
.liuyan h3 {
 margin-bottom:20px;
 padding:16px 0;
 background-color:#FFF9F8;
 color:#CB4728;
 border-bottom:1px solid #ffe3df
}
.liuyan table {
 width:60%;
 margin:0 auto
}
.liuyan table th {
 width:100px;
 text-align:right;
 padding-right:16px;
 font-size:16px
}
.liuyan table td {
 padding:8px 0
}
.liuyan .ly_input {
 color:#7C7C7C;
 height:32px;
 line-height:32px;
 font-size:16px;
 border:1px solid #B3B3B3;
 padding:0 10px
}
.liuyan textarea.ly_input {
 height:160px;
 width:80%
}
.liuyan .msgbtn {
 cursor:pointer;
 padding:10px 40px;
 background-color:#F87456;
 color:#fff;
 border:1px solid #F87456
}
.liuyan .msgbtn:hover {
 background-color:#EC5431
}
.st-sitemap {
 padding:16px 32px
}
.st-sitemap h4 {
 padding:10px 6px 20px 6px;
 font-size:18px;
 border-bottom:1px solid #DBDBDB;
 text-align:left;
 margin-top:20px
}
.st-sitemap ul.sitemapul {
 padding:16px 5px;
 overflow:auto;
 zoom:1;
 padding-left:10px
}
.st-sitemap ul.sitemapul li {
 line-height:28px;
 font-size:14px;
 float:left;
 width:260px
}
.st-sitemap h4 a:hover,.st-sitemap ul.sitemapul li a:hover {
 color:#FA5B05
}

.plist {
 width:auto;
 margin:0 auto;
 overflow:auto;
 zoom:1;
 padding:10px 0;
 box-sizing:border-box
}
.plist li {
 box-sizing:border-box;
 padding:6px 0;
 text-align:center;
 overflow:auto;
 zoom:1
}
.plist li .p-1 {
 margin:0 auto
}
.plist li .p-1 a img {
 box-sizing:border-box;
 vertical-align:text-bottom;
 padding:1px;
 border:1px solid #ccc
}
.plist li .p-1 a:hover img {
 border-color:#4FAAD9;
 zoom:1
}
.plist li .p-2 {
 font-size:12px;
 padding:10px 0;
 margin:0 auto
}
.plist li .p-2 a {
 color:#484848
}
.plist li .p-2 a:hover {
 color:#1682CE;
 text-decoration:underline
}
.plist li .p-2 h3 {
 font-weight:400;
 color:#0084C3;
 text-align:left;
 padding:5px 0
}
.plist li .p-2 p {
 line-height:24px;
 text-align:left
}
.plist-nobd li .p-1 a img {
 border:none
}
.plist-nobd li .p-1 a:hover img {
 border:none
}
.plist-title li {
 text-align:left
}
.plist-title li a {
 color:#484848
}
.plist-title li span {
 float:right
}
.plist-block-list li {
 float:left
}
.plist-block-list li .p-1 {
 width:80%
}
.plist-block-list li .p-1 a {
 display:block;
 text-align:center;
 margin:0 auto
}
.plist-block-list li .p-1 a img {
 width:100%
}
.plist-block-list li .p-2 {
 width:80%
}


.ipro .hd h2 {
 height:46px;
 width:176px;
 text-align:left;
 padding-left:20px;
 vertical-align:middle;
 line-height:46px;
 letter-spacing:1.5px;
 background:url(../images/bg_flag_2.png) no-repeat 0 0
}
.ipro .hd h2 a {
 color:#fff
}
.ipro .hd .more {
 display:inline-block;
 margin-top:4px
}
.ipro .ipro-list {
 display:none
}
.protab {
 padding:20px 0;
 width:80%;
 overflow:auto;
 margin:0 auto
}
.protab li {
 width:24.9%;
 float:left;
 text-align:center
}
.protab a {
 display:inline-block;
 border:1px solid #000;
 width:80%;
 text-align:center;
 padding:24px 0;
 font-weight:700;
 font-size:16px;
 color:#000
}
.protab a.on,.protab a:hover {
 background-color:#b47514;
 color:#fff;
 border-color:#986311
}
.ipro-list {
 padding-bottom:0
}
.ipro-list li {
 width:25%
}
.ipro-list li .p-1 {
 width:90%
}
.ipro-list li .p-1 a img {
 border-color:#646464
}
.ipro-list li .p-1 a:hover img {
 border-color:#f3692d
}
.ipro-list li .p-2 {
 width:90%
}
.ipro-list li .p-2 h3 {
 color:#000;
 text-align:center;
 font-size:18px;
 line-height:26px
}
.ipro-list li .p-2 h3 a {
 color:#000
}
.ipro-list li .p-2 p {
 text-align:center;
 font-size:16px;
 color:#969696
}






